# Entorno virtual
venv/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de entorno
.env
*.env

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# SQLite
*.sqlite3

# Archivos de caché
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/
*.swp

#sqlite
*.sqlite
*.sqlite3
*.db
*.db3
*.sql
*.dump
