{% extends "base.html" %}
{% block title %}Buscar Producto{% endblock %}
{% block content %}
<h2>Buscar Producto</h2>
<form method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <button type="submit">Buscar</button>
</form>
{% if resultados %}
    <h3>Resultados:</h3>
    <ul>
      {% for producto in resultados %}
        <li>{{ producto.name }} - Precio: {{ producto.precio }}</li>
      {% endfor %}
    </ul>
{% elif resultados is defined %}
    <p>No se encontraron productos.</p>
{% endif %}
{% endblock %}
