{% extends "base.html" %}

{% block title %}Listado de Clientes{% endblock %}

{% block content %}
<h2>Listado de Clientes</h2>
<div class="animated-button-container">
    <a href="{{ url_for('clientes.crear_cliente') }}" class="animated-button">
        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
        </svg>
        <span class="text">Crear nuevo cliente</span>
        <span class="circle"></span>
        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
            <path
            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
        </svg>
    </a>
</div>
    
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.telefono }}</td>
            <td>
                <a href="{{ url_for('clientes.editar_cliente', id=c.id) }}">Editar</a> |
                <a href="{{ url_for('clientes.eliminar_cliente', id=c.id) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
