<!-- templates/clientes/lista.html -->
{% extends "base.html" %}
{% block title %}Listado de Clientes{% endblock %}
{% block content %}
<h2>Listado de Clientes</h2>
<a href="{{ url_for('clientes.crear_cliente_view') }}"><button class="ordenar-btn" data-sort="stock">Crear nuevo cliente</button></a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.telefono }}</td>
            <td>
                <a href="{{ url_for('clientes.editar_cliente_view', id=c.id) }}">Editar</a> |
                <a href="{{ url_for('clientes.eliminar_cliente_view', id=c.id) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
